<h1>Listing user_logs</h1>

<table>
  <tr>
    <th>User</th>
    <th>Log in</th>
    <th>Log out</th>
    <th>Report access list</th>
    <th>Template access list</th>
    <th>Report update list</th>
    <th>Template access list</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_logs.each do |user_log| %>
  <tr>
    <td><%= user_log.user_id %></td>
    <td><%= user_log.log_in %></td>
    <td><%= user_log.log_out %></td>
    <td><%= user_log.report_access_list %></td>
    <td><%= user_log.template_access_list %></td>
    <td><%= user_log.report_update_list %></td>
    <td><%= user_log.template_access_list %></td>
    <td><%= link_to 'Show', user_log %></td>
    <td><%= link_to 'Edit', edit_user_log_path(user_log) %></td>
    <td><%= link_to 'Destroy', user_log, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User log', new_user_log_path %>
