<h1>Listing forecasts</h1>

<table>
  <tr>
    <th>Account</th>
    <th>Value</th>
    <th>Cc</th>
    <th>Period</th>
    <th>Version</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forecasts.each do |forecast| %>
  <tr>
    <td><%= forecast.account_id %></td>
    <td><%= forecast.value %></td>
    <td><%= forecast.cc_id %></td>
    <td><%= forecast.period %></td>
    <td><%= forecast.version %></td>
    <td><%= link_to 'Show', forecast %></td>
    <td><%= link_to 'Edit', edit_forecast_path(forecast) %></td>
    <td><%= link_to 'Destroy', forecast, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Forecast', new_forecast_path %>
